@import "_utilities";
@import "_header";
@import "_swipe";
@import "_tabs";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

// *** NAVBAR ***

.navbar-brand img {
    width: auto;
    max-width: 40px;
    margin-right: 15px;
}

// *** HERO ***
.masthead {
    height: 100vh;
    min-height: 500px;
    background-color: #eaeaea;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    h1 {
        font-size: 6.5rem;
        line-height: .75em;
        padding: 0;
        margin: 0;
    }
    span {
        border-right: .05em solid;
        animation: caret 1s steps(1) infinite;
    }
    ul.lead li {
        display: inline-block;
        vertical-align: middle;
        color: #949494;
        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: 3px;
        &:nth-child(n+2):before {
            content: "/";
            padding: 0 1.2rem;
        }
    }
    .mouse {
        width: 30px;
        height: 50px;
        border: 3px solid #7b7b7b;
        border-radius: 60px;
        position: absolute;
        bottom: 30px;
        left: 50%;
        &:before {            
            content: "";
            width: 5px;
            height: 10px;
            position: absolute;
            top: 0;
            background: #7b7b7b;
            left: 50%;
            transform: translate(-50%);
            border-radius: 60%;            
            animation: mouse 2s infinite;
        }
    }
}
@keyframes mouse {
    from {
        opacity: 1;
        top: 2px;
    } to {
        opacity: 0;
        top: 30px;
    }
}
@keyframes caret {
    50% {
      border-color: transparent;
    }
  }

// *** FEATURES ***
.features {
    border-radius: 5px;
    box-shadow: 3px 3px 9px 0 rgba(0,0,0,0.1);
    h5 {
        color: $h5-color;
    }
}

// *** PORTFOLIO ***
.portfolio {
    img {
        width: 100%;
    }
}